<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/privacy-terms"><i class="fa-brands fa-facebook"></i></a>
            <a href="/privacy-terms"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/privacy-terms"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; WonderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy-terms">Privacy</a>
            <a href="/privacy-terms">Terms</a>
        </div>
    </div>
</footer>